
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    <h2>Nosotros</h2>
    <!-- <ol>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
    </ol> -->

    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

    <div class="row position-relative">

        <div class="col-lg-7 about-img" style="background-image: url(assets/img/about.jpg);"></div>

        <div class="col-lg-7">
        <h2>¿Quién es <b>UpConstruction</b><span>.</span>?</h2>
        <div class="our-story">
            <!-- <h4>Est 1988</h4> -->
            <h3>Nuestra historia</h3>
            <p>Somos una constructora creada en el año 2010, con la finalidad de satisfacer las necesidades de nuestros clientes. 
                Inicialmente se comenzo con proyectos en la ciudad de Colima, para posteriormente crecer y poder expandirnos a los 
                estados vecinos, Jalisco y Michoacan. Nuestros valores incluyen:</p>
            <ul>
            <li><i class="bi bi-check-circle"></i> <span>Las necesidades de nuestros clientes son primordiales.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Cumplir con los tiempos y entregas nos ha permitido crecer.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Cubrimos todas las areas relacionadas con la construcción.</span></li>
            </ul>
            <p>Siempre es un placer atender a nuestros clientes que nos han recomendado y proporcionado la confianzar.</p>

            <!-- <div class="watch-video d-flex align-items-center position-relative">
            <i class="bi bi-play-circle"></i>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
            </div> -->
        </div>
        </div>

    </div>

    </div>
</section>
<!-- End About Section -->

<!-- ======= Stats Counter Section ======= -->
<section id="stats-counter" class="stats-counter section-bg">
    <div class="container">

    <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
            <span data-purecounter-start="0" data-purecounter-end="67" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clientes felices</p>
            </div>
        </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
            <div>
            <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1" class="purecounter"></span>
            <p>Proyectos</p>
            </div>
        </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-headset color-green flex-shrink-0"></i>
            <div>
            <span data-purecounter-start="0" data-purecounter-end="2080" data-purecounter-duration="1" class="purecounter"></span>
            <p>Horas de atención</p>
            </div>
        </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-people color-pink flex-shrink-0"></i>
            <div>
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trabajadores</p>
            </div>
        </div>
        </div><!-- End Stats Item -->

    </div>

    </div>
</section><!-- End Stats Counter Section -->
