  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1>UpConstruction<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li routerLinkActive="active"><a routerLink="home" class="active">Home</a></li>
          <li routerLinkActive="active"><a routerLink="about">Nosotros</a></li>
          <li routerLinkActive="active"><a routerLink="services-details">Servicios</a></li>
          <li routerLinkActive="active"><a routerLink="projects-details">Proyectos</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Contáctanos</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->