<!-- ======= Constructions Section ======= -->
<section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Construcciones</h2>
        <p>Hemos tenido la oportunidad de trabajar proyectos de edficios asi como la construcción de nuevos condominios, lo que nos ha permitido 
          obtener la experiencia y calidad que tu necesitas para tu próximo proyecto</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(assets/img/constructions-1.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Construccion 1.</h4>
                  <p>Construccion ubicada en Colima, donde se utilizaron algunos de los nuevos metodos de construcción, 
                    permitiendo reunir la calidad que los nuevos propietarios buscan para su nuevo hogar.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(assets/img/constructions-2.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Construccion 2</h4>
                  <p>La construccion de edificios habitacionales son parte de nuestros servicios. Contamos con 
                    la capacidad y personal requerido para un proyecto de tal magnitud.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(assets/img/constructions-3.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Construccion 3</h4>
                  <p>Los parques industriales también son parte de nuestros servicios. Hemos tenido la oportunidad 
                    de colaborar en estos a lo largo de nuestra trayectoria como constructora.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(assets/img/constructions-4.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Construccion 4</h4>
                  <p>Construcion de casa a la medida, es uno de nuestros principales sectores que nos ha permitido 
                    tener el crecimiento y expansión con la que hoy en dia <b>UpConstruction</b><span>.</span> cuenta.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Constructions Section -->