<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>UpConstruction</h3>
              <p>
                Av. de ejemplo <br>
                Villa de Álvarez, Colima, MX 28000<br><br>
                <strong>Teléfono:</strong>+52 312 000 0000<br>
                <strong>Correo:</strong>correo@ejemplo.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-3 col-md-3 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Proyectos</a></li>
              <li><a href="#">Términos de servicio</a></li>
              <li><a href="#">Política de privacidad</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-3 col-md-3 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><a href="#">Plantas industriales</a></li>
              <li><a href="#">Casas de descanso</a></li>
              <li><a href="#">Diseño arquitectónico</a></li>
              <li><a href="#">Condominios</a></li>
              <li><a href="#">Edificios empresariales</a></li>
              <li><a href="#">Remodelaciones</a></li>
              <li><a href="#">Reparaciones</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->